/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #8ca77e;
  color: #365047;
}

h1 {
  color: #333;
}

p {
  font-size: 18px;
}

/* Header Styles */
header {
  background: #365047;
  color: #b8cfc7;
  padding: 20px;
}

.header-content {
  display: flex;               /* horizontal layout */
  align-items: center;         /* vertical alignment */
  justify-content: center;     /* centers the content */
  gap: 20px;                   /* space between logo and text */
  flex-wrap: wrap;             /* allows wrapping on small screens */
  text-align: left;
}

#logo {
  height: 80px;                /* adjust size as needed */
  width: auto;
}

.header-text h1 {
  margin: 0;
}

.header-text p {
  margin: 0;
  font-size: 1rem;
}

/* Navigation Styles */
nav {
  background: #61827d;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #bbccca;
}

/* Container */
.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  background: #c0cfb9;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 40px 0;
}

.hero h1 {
  font-size: 40px;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  background: #ebbf0e;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  margin-top: 15px;
}

.button:hover {
  background: #f5d861;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background: #ae6327;
  color: white;
  margin-top: 0px;
}
